Repository stencila/stencila, pull requests merged in 2024-01, with the labels that each got.

#1915 fix(package.json): rolled back to tailwind/typography@0.5.9
  package-lock.json
  web/package.json
Labels: type: bug, module: web

#1922 feat(Dockerfile): added a docker process to allow users to build web assets outside of npm
  web/.dockerignore
  web/.gitignore
  web/Dockerfile
  web/Makefile
  web/README.md
  web/package.json
Labels: type: feature, type: docs, module: web

#1973 feat(list node): Custom list node
  examples/nodes/article-ark/article-ark.dom.html
  examples/nodes/list/config.yaml
  examples/nodes/list/list.cbor
  examples/nodes/list/list.cbor.zst
  examples/nodes/list/list.compact.html
  examples/nodes/list/list.compact.jats.xml
  examples/nodes/list/list.compact.jats.xml.decode.losses
  examples/nodes/list/list.compact.jats.xml.encode.losses
  examples/nodes/list/list.compact.json5
  examples/nodes/list/list.compact.jsonld
  examples/nodes/list/list.dom.html
  examples/nodes/list/list.html
  examples/nodes/list/list.jats.xml
  examples/nodes/list/list.jats.xml.encode.losses
  examples/nodes/list/list.json
  examples/nodes/list/list.json5
  examples/nodes/list/list.jsonld
  examples/nodes/list/list.md
  examples/nodes/list/list.md.encode.losses
  examples/nodes/list/list.standalone.html
  examples/nodes/list/list.txt
  examples/nodes/list/list.txt.encode.losses
  examples/nodes/list/list.yaml
  json/List.schema.json
  rust/schema/src/implem/list.rs
  rust/schema/src/types/list.rs
  schema/List.yaml
  web/src/nodes/index.ts
  web/src/nodes/list-item.ts
  web/src/nodes/list.ts
  web/src/views/visual/blocks.ts
Labels: module: web
